/* semantic color variables for this project */
:root {
  --header-height: 6rem;

  --light-grey: #C4C4C4;
  --medium-grey: #BBBBBB;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
